<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Mareksan Müşteri Paneli</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Mareksan">
    <meta name="author" content="Nurullah Atay">
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h3 class="text-center"> MAREKSAN YÖNETİM BİLGİ SİSTEMİNE HOŞ GELDİNİZ </h3>
    <hr>
    <form th:action="@{/customerLogin}" method="POST" class="form-signin">


        <input type="text" id="authorizedEMail" name="email"
               class="form-control"/> <br/>
        <input type="password"
               id="password" name="password" class="form-control"/> <br/>

        <!--/*@thymesVar id="param" type=""*/-->
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>
</div>
</body>
</html>