<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mareksan Sipariş Takip Sistemi</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Mareksan Sipariş Takip Sistemi</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <li class="data-toggle">
                <a class="data-toggle" data-toggle="data-toggle" href="/index.html">
                    <i class="fa fa-home "></i>
                </a>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html">Flot Charts</a>
                            </li>
                            <li>
                                <a href="morris.html">Morris.js Charts</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panels-wells.html">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="icons.html"> Icons</a>
                            </li>
                            <li>
                                <a href="grid.html">Grid</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="../static/blank.html">Blank Page</a>
                            </li>
                            <li>
                                <a href="login.html">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        </br>
        </br>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="yeni-siparis.php">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-pencil-square-o fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <h3 class="font-bold" style="font-size:22px">Yeni Sipariş</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="yeni-musteri.php">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-user-plus fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <h3 class="font-bold" style="font-size:22px">Yeni Müşteri</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        </br>
        </br>

        <div id="siparis_listesi" class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Sipariş Listesi
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table id="orders" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Şipariş No</th>
                                <th>Müşteri</th>
                                <th>Şipariş Tarihi</th>
                                <th>Teslim Tarihi</th>
                                <th>Toplam Tutar</th>
                                <th>Alınan Tutar</th>
                                <th>Durum</th>
                                <th>Eylemler</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Şipariş No</th>
                                <th>Müşteri</th>
                                <th>Şipariş Tarihi</th>
                                <th>Teslim Tarihi</th>
                                <th>Toplam Tutar</th>
                                <th>Alınan Tutar</th>
                                <th>Durum</th>
                                <th>Eylemler</th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div id="siparis_formu" class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Sipariş Formu</h1>
                    </div>

                </div>

        <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Default Panel
                            </div>
                            <div class="panel-body">

                                <div class="ibox-content">
                                    <form role="form" id="formSiparis" method="post" class="form-horizontal">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <!--div class="form-group" id="siparisMusteri">
                                                    <label class="col-sm-4 control-label">Müşteri Seçin </label>
                                                    <div class="col-sm-8">
                                                        <select data-placeholder="Müşteri Seçin.." name="musteri" class="chosen-select form-control required" required id="musteri">
                                                            <option value="">Müşteri seçin</option>
                                                                                            <option value="16"  >WEBS35</option>
                                                                                            <option value="17"  >Yılmaz Kasap</option>
                                                                                            <option value="18"  >Şen Konfeksiyon</option>
                                                                                            <option value="19"  >Tufan Market</option>
                                                                                            <option value="20"  >Yıldırım Tasarım Ltd. Şti.</option>
                                                                                            <option value="21"  >s & g</option>
                                                                                            <option value="22"  >Şen Bakkal</option>
                                                                                            <option value="23"  >asf</option>
                                                                                    </select>
                                                    </div>
                                                </div-->
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Sipariş Cinsi</label>
                                                    <div class="col-sm-8">
                                                        <select data-placeholder="Sipariş Cinsi.." name="siparisCinsi" class="chosen-select form-control" required onchange="siparisRM(this.value)" id="siparisCinsi">
                                                            <option value="">Sipariş cinsi seçin</option>
                                                            <option value="37"  >Adisyon</option>
                                                            <option value="4"  >Adisyon Tipi Perakende Satış Fişi</option>
                                                            <option value="5"  >Ambar Tesellüm Fişi</option>
                                                            <option value="45"  >brochure</option>
                                                            <option value="8"  >Dipkoçanlı Giriş Bileti</option>
                                                            <option value="9"  >Dipkoçanlı Perakende Satış Fişi</option>
                                                            <option value="10"  >Dipkoçanlı Yolcu Taşıma Bileti</option>
                                                            <option value="6"  >Döviz Alım Belgesi</option>
                                                            <option value="7"  >Döviz Satım Belgesi</option>
                                                            <option value="34"  >Döviz ve Kıymetli Maden Alım Belgesi</option>
                                                            <option value="35"  >Döviz ve Kıymetli Maden Satım Belgesi</option>
                                                            <option value="11"  >Ek Belgeler (Zeyilnameler)</option>
                                                            <option value="12"  >Fatura</option>
                                                            <option value="13"  >Fatura / Çek</option>
                                                            <option value="15"  >Gider Pusulası</option>
                                                            <option value="16"  >Giriş Bileti</option>
                                                            <option value="14"  >Günlük Müşteri Listesi</option>
                                                            <option value="31"  >İrsaliyeli Fatura</option>
                                                            <option value="1"  >Kartvizit</option>
                                                            <option value="38"  >Kaşe</option>
                                                            <option value="32"  >Kıymetli Maden Alım Belgesi</option>
                                                            <option value="33"  >Kıymetli Maden Satım Belgesi</option>
                                                            <option value="17"  >Makinalı Kasaların Kayıt Ruloları</option>
                                                            <option value="36"  >Maliye Bakanlığınca Belirlenecek Diğer Belgeler</option>
                                                            <option value="18"  >Müstahsil Makbuzu</option>
                                                            <option value="29"  >Ödünç Sözleşmesi</option>
                                                            <option value="19"  >Orman Kooperatifleri Ödeme Cetveli</option>
                                                            <option value="30"  >Özel Fatura</option>
                                                            <option value="20"  >Perakende Satış Fişi</option>
                                                            <option value="21"  >Reçete</option>
                                                            <option value="3"  >Resmi Adisyon</option>
                                                            <option value="22"  >Serbest Meslek Makbuzu</option>
                                                            <option value="23"  >Sevk İrsaliyesi</option>
                                                            <option value="24"  >Sigorta Komisyon Giderleri Belgesi</option>
                                                            <option value="25"  >Sigorta Poliçeleri</option>
                                                            <option value="2"  >Takvim</option>
                                                            <option value="26"  >Taşıma İrsaliyesi</option>
                                                            <option value="40"  >vinil afiş </option>
                                                            <option value="27"  >Yolcu Listesi</option>
                                                            <option value="28"  >Yolcu Taşıma Bileti</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Ebat</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" placeholder="Ebat" class="form-control required" name="ebat" id="ebat" value="" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Kağıt Cinsi</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" placeholder="Kağıt Cinsi" class="form-control" name="kagitCinsi" id="kagitCinsi" value="" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Miktar</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" placeholder="Miktar" class="form-control" name="miktar" id="miktar" value="" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Miktar Cinsi</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control m-b" name="miktarCinsi" id="miktarCinsi" required>
                                                            <option value="">Miktar cinsi seçin </option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group" id="nushaDiv" >
                                                    <label class="col-sm-4 control-label">Nüsha</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" placeholder="Nüsha" class="form-control" name="nusha" id="nusha" value="">
                                                    </div>
                                                </div>

                                                <!--div class="form-group" id="numaratorDiv" >
                                                    <label class="col-sm-4 control-label">Numarator</label>
                                                    <div class="col-sm-6">

                                                    <input type="text" placeholder="Numaratör" class="form-control" name="numarator" id="numarator" value="" disabled>
                                                    </div>
                                                    <div class="col-sm-2">
                                                    <input type="button" class="btn btn-danger " value="Numara Al" id="getNumber" style="padding:2px;float:right;" />

                                                    </div>
                                                </div>
                                                <input type="hidden" name="nmrtr" id ="nmrtr" value="" /-->
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Renk</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" placeholder="Renk" class="form-control" name="renk" id="renk" value="" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Fiyat</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" placeholder="Fiyat" class="form-control" name="fiyat" id="fiyat" value="" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Açıklama</label>
                                                    <div class="col-sm-8">
                                                        <textarea name="aciklama" id="aciklama" class="form-control" ></textarea>
                                                        <!--input type="text" placeholder="Açıklama" class="form-control" name="aciklama" id="aciklama" value=""-->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <input type="button" class="btn btn-sm btn-primary m-t-n-xs" style="float:right; margin:8px;" value="Ekle" id="orderAdd" />
                                                        <input type="button" class="btn btn-sm btn-danger m-t-n-xs" style="float:right; margin:8px;" value="İptal Et" id="orderCancel" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="form" value="orderForm" />
                                        <input type="hidden" name="seId" value="0" />
                                        <input type="hidden" name="musteri" id="musteri" value="" />
                                        <input type="hidden" name="orderId" id="orderId" value="0" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.col-lg-4 -->
                </div>

    </div>

</div>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->

<script>


    $(document).ready(function(){
        $('#orders').DataTable({
            responsive: true
        });
        $.getJSON("/orders/all", function(data){
            var order_data = '';
            $.each(data, function(key, value){
                order_data += '<tr>';
                order_data += '<td>'+value.id+ '</td>';
                order_data += '<td>'+value.customer_id+ '</td>';
                order_data += '<td>'+value.orderDate+ '</td>';
                order_data += '<td>'+value.deliveryDate+ '</td>';
                order_data += '<td>'+value.price+ '</td>';
                order_data += '<td>'+value.paid+ '</td>';
                order_data += '<td>'+value.status+ '</td>';
                order_data += '</tr>';
            });
            $("#orders").append(order_data);

        });
    });
</script>
</body>

</html>
