<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mareksan Sipariş Takip Sistemi</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="navbar-home">Mareksan Sipariş Takip Sistemi</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <li class="data-toggle">
                <a class="data-toggle" data-toggle="data-toggle" id="home">
                    <i class="fa fa-home "></i>
                </a>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Sipariş Yönetimi<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id="siparisler">Siparişler</a>
                            </li>
                            <li>
                                <a id="siparis_olustur">Siparis Oluştur</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Müşteri Yönetimi<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id="müsteri_ekle">Müşteri Ekle</a>
                            </li>
                            <li>
                                <a id="müsteriler">Müşteriler</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o fa-fw"></i>Ayarlar<span class="fa arrow"></span></a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">

        <div id="giris" class="row">
            <br><br>
            <div class="col-lg-3 col-md-6">
                <a id="yeni_siparis">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-pencil-square-o fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <h3 class="font-bold" style="font-size:22px">Yeni Sipariş</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a id="yeni_müsteri">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-user-plus fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <h3 class="font-bold" style="font-size:22px">Yeni Müşteri</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <br><br>
        </div>

        <!-- /.yeniiii -->
        <div id="siparis_listesi" class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Siparis Listesi
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Şipariş No</th>
                                <th>Müşteri</th>
                                <th>Şipariş Adı</th>
                                <th>Şipariş Tarihi</th>
                                <th>Teslim Tarihi</th>
                                <th>Miktar</th>
                                <th>Toplam Tutar</th>
                                <th>Alınan Tutar</th>
                                <th>Kalan Tutar</th>
                                <th>Durum</th>
                                <th>Sipariş Tipi</th>
                                <th>Sipariş ozellikleri</th>
                                <th>Eylemler</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">

                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->

            <div id="modal-order" class="modal inmodal fade" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content  animated" id="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Sipariş Detayı</h4>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="padding:5px; float:left;"><b>Müşteri:</b></div>
                                                    <label id="modal-order-customer"
                                                           style="padding:5px; float:left;"></label>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding:5px; float:left;"><b>Toplam Tutar:</b></div>
                                                    <label id="modal-order-price"
                                                           style="padding:5px; float:left;"></label>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding:5px; float:left;"><b>Sipariş Tarihi:</b></div>
                                                    <label id="modal-order-orderDate"
                                                           style="padding:5px; float:left;"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="padding:5px; float:left;"><b>Telefon No:</b></div>
                                                    <label id="modal-order-companyTel"
                                                           style="padding:5px; float:left;"></label>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding:5px; float:left;"><b>Ödenen Tutar:</b></div>
                                                    <label id="modal-order-paid"
                                                           style="padding:5px; float:left;"></label>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding:5px; float: left"><b>Teslim Tarihi:</b></div>
                                                    <label id="modal-order-deliveryDate"
                                                           style="padding:5px; float:left;"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <table class="table table-hover no-margins">
                                                <thead>
                                                <tr>
                                                    <th>Sipariş Cinsi</th>
                                                    <th>Sipariş Adı</th>
                                                    <th>Miktar</th>
                                                    <th>Fiyat</th>
                                                    <td>Kalan</td>
                                                    <th>Sipariş Özellikleri</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="gradeX">
                                                    <td>
                                                        <label id="modal-order-oderType"></label>
                                                    </td>
                                                    <td>
                                                        <label id="modal-order-orderName"></label>
                                                    </td>
                                                    <td>
                                                        <label id="modal-order-amount"></label>
                                                    </td>
                                                    <td>
                                                        <label id="modal-order-price1"></label>
                                                    </td>
                                                    <td>
                                                        <label id="modal-order-specificationsOrders"></label>
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-header">
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal-order-edit" class="modal inmodal fade" aria-hidden="true" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title"><h5>Sipariş Formu</h5></div>
                                <div class="ibox-content">
                                    <form role="form" id="formSiparisFinish" method="post" class="wizard-big">
                                        <div class="form-group">
                                            <label>Müşteri</label>
                                            <input id="modal-order-edit-customer" type="text">
                                        </div>
                                        <div class="form-group" id="data_1"><label>Teslim Tarihi</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input id="modal-order-edit-deliveryDate" type="text"
                                                       class="form-control" name="teslimTarihi" value=""
                                                       required="">
                                            </div>
                                        </div>
                                        <div class="form-group"><label>Toplam Tutar</label><input type="text"
                                                                                                  placeholder=""
                                                                                                  class="form-control required"
                                                                                                  name="_tutar"
                                                                                                  id="modal-order-edit-price"
                                                                                                  value=""
                                                                                                  disabled="">
                                        </div>
                                        <div class="form-group"><label>Alınan Kapora</label><input type="text"
                                                                                                   placeholder="Kapora"
                                                                                                   class="form-control required"
                                                                                                   name="kapora"
                                                                                                   id="modal-order-edit-paid"
                                                                                                   value="0.00">
                                        </div>
                                        <div class="form-group"><label>Durum</label>
                                            <select id="modal-order-edit-status" class="form-control m-b"
                                                    name="modal-order-edit-status" required="">

                                            </select></div>
                                        <div class="form-group"><label>Açıklama</label><input type="text"
                                                                                              placeholder="Açıklama"
                                                                                              class="form-control"
                                                                                              name="aciklama"
                                                                                              id="modal-order-edit-description"
                                                                                              value="">
                                        </div>
                                        <div><input type="button" class="btn btn-sm btn-primary m-t-n-xs"
                                                    value="Siparişi Kaydet" id="orderFinish"
                                                    onclick="orderFinished();">
                                            <input type="button" class="btn btn-sm btn-danger m-t-n-xs"
                                                   value="Siparişi İptal Et" id="orderCancel2"
                                                   onclick="orderCancel('117');"></div>
                                        <input type="hidden" name="form" value="siparisFinishForm"> <input
                                            type="hidden"
                                            name="orderId"
                                            value="117">
                                        <input type="hidden" name="tutar" value="1200"></form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.yeniii -->


        <div id="siparis_formu" class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sipariş Formu</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Default Panel
                        </div>
                        <div class="panel-body">

                            <div class="ibox-content">
                                <form role="form" id="formSiparis" method="post" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Sipariş Cinsi</label>
                                                <div class="col-sm-8">
                                                    <select data-placeholder="Sipariş Cinsi.."
                                                            name="siparisCinsi"
                                                            class="chosen-select form-control" required
                                                            id="siparis_veren">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Sipariş Cinsi</label>
                                                <div class="col-sm-8">
                                                    <select data-placeholder="Sipariş Cinsi.."
                                                            name="siparisCinsi"
                                                            class="chosen-select form-control" required
                                                             id="siparisCinsi">

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Sipariş Adı</label>
                                                <div class="col-sm-8">
                                                    <input type="text" placeholder="Sipariş Adı"
                                                           class="form-control required" name="orderName"
                                                           id="orderName"
                                                           value="" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Teslim Tarihi</label>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Miktar</label>
                                                <div class="col-sm-8">
                                                    <input type="number" placeholder="Miktar"
                                                           class="form-control"
                                                           name="amount" id="amount" value="" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Sipariş
                                                    Özellikleri</label>
                                                <div class="col-sm-8">
                                                    <input type="text" placeholder="Sipariş Özellikleri"
                                                           class="form-control required"
                                                           name="specificationsOrders"
                                                           id="specificationsOrders" value="" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group" id="nushaDiv">
                                                <label class="col-sm-4 control-label">Tutar</label>
                                                <div class="col-sm-8">
                                                    <input type="number" placeholder="Tutar"
                                                           class="form-control"
                                                           name="price" id="price" value="">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Ödenen</label>
                                                <div class="col-sm-8">
                                                    <input type="text" placeholder="Ödenen" class="form-control"
                                                           name="paid" id="paid" value="" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Açıklama</label>
                                                <div class="col-sm-8">
                                                    <textarea name="description" id="description"
                                                              class="form-control"></textarea>
                                                    <!--input type="text" placeholder="Açıklama" class="form-control" name="aciklama" id="aciklama" value=""-->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <input type="button" class="btn btn-sm btn-primary m-t-n-xs"
                                                           style="float:right; margin:8px;" value="Ekle"
                                                           id="orderAdd"
                                                           onclick="addOrder()"/>
                                                    <input type="button" class="btn btn-sm btn-danger m-t-n-xs"
                                                           style="float:right; margin:8px;" value="İptal Et"
                                                           id="orderCancel"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="form" value="orderForm"/>
                                    <input type="hidden" name="seId" value="0"/>
                                    <input type="hidden" name="musteri" id="musteri" value=""/>
                                    <input type="hidden" name="orderId" id="orderId" value="0"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.col-lg-4 -->
            </div>

        </div>


        <div id="müsteri_ekleme" class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Müşteri Ekleme Formu</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Default Panel
                        </div>
                        <div class="panel-body">
                            <div class="wrapper wrapper-content  animated fadeInRight">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Müşteri Formu</h5>

                                    </div>
                                    <div class="ibox-content">

                                        <form role="form" id="addCustomerForm" method="post" class="wizard-big">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group"><label>Firma Adı</label><input
                                                            type="text"
                                                            placeholder="Firma Adı"
                                                            class="form-control required"
                                                            name="companyName"
                                                            id="companyName"
                                                            value="">
                                                    </div>
                                                    <div class="form-group"><label>Firma Tel</label><input
                                                            type="text"
                                                            placeholder="Firma Tel"
                                                            class="form-control required"
                                                            name="companyPhone"
                                                            id="companyPhone"
                                                            value="">
                                                    </div>
                                                    <div class="form-group"><label>Firma Adres</label><textarea
                                                            type="text" placeholder="Firma Adres"
                                                            class="form-control required" name="companyAddress"
                                                            id="companyAddress" value=""></textarea></div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group"><label>Yetkili Ad</label><input
                                                            type="text"
                                                            placeholder="Yetkili Ad"
                                                            class="form-control"
                                                            name="authorizedName"
                                                            id="authorizedName"
                                                            value="">
                                                    </div>
                                                    <div class="form-group"><label>Yetkili Tel</label><input
                                                            type="text"
                                                            placeholder="Yetkili Tel"
                                                            class="form-control"
                                                            name="authorizedPhone"
                                                            id="authorizedPhone"
                                                            value="">
                                                    </div>
                                                    <div class="form-group"><label>Yetkili E-Posta</label><input
                                                            type="email" placeholder="Yetkili E-Posta"
                                                            class="form-control" name="authorizedEMail"
                                                            id="authorizedEMail" value=""></div>
                                                    <div class="form-group"><label>Şifre</label><input
                                                            type="text"
                                                            placeholder="Şifre"
                                                            class="form-control"
                                                            name="password"
                                                            id="password"
                                                            value=""></div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <input type="button" class="btn btn-sm btn-primary m-t-n-xs"
                                                           style="float:right; margin:8px;" value="Kaydet"
                                                           onclick="addCustomer()"/>
                                                    <input type="reset" class="btn btn-sm btn-danger m-t-n-xs"
                                                           style="float:right; margin:8px;" value="Vazgeç"
                                                           id="cancelCustomer"/>
                                                </div>
                                            </div>
                                            <input type="hidden" name="form" value="addCustomerForm"/>
                                            <input type="hidden" name="customerId" value="0"/>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <div id="müsteri_listeleme" class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        DataTables Advanced Tables
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-Customer">
                            <thead>
                            <tr>
                                <th>Şirket Adı</th>
                                <th>Şirket Telefonu</th>
                                <th>Yetkili</th>
                                <th>Yetkili Telefonu</th>
                                <td>Yetkili E-mail</td>
                                <td>Sil/Düzenle</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>


    </div>


</div>

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../vendor/raphael/raphael.min.js"></script>
<script src="../vendor/morrisjs/morris.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>
<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->

<script>

    $("#müsteri_ekleme").hide();
    $("#müsteri_listeleme").hide();
    $("#siparis_listesi").hide();
    $("#siparis_formu").hide();
    $("#giris").hide();


    function homeButtonClick() {
        $("#home").click(function () {
            $("#giris").show();
            $("#siparis_listesi").show();
            $("#siparis_formu").hide();
            $("#müsteri_listeleme").hide();
            $("#müsteri_ekleme").hide();
        });

        $("#navbar-home").click(function () {
            $("#giris").show();
            $("#siparis_listesi").show();
            $("#siparis_formu").hide();
            $("#müsteri_listeleme").hide();
            $("#müsteri_ekleme").hide();

        });
    }

    function yeniMusteriEkleClick() {

        $("#yeni_müsteri").click(function () {
            $("#giris").hide();
            $("#siparis_listesi").hide();
            $("#siparis_formu").hide();
            $("#müsteri_listeleme").hide();
            $("#müsteri_ekleme").show();
        });

        $("#müsteri_ekle").click(function () {
            $("#giris").hide();
            $("#siparis_listesi").hide();
            $("#siparis_formu").hide();
            $("#müsteri_listeleme").hide();
            $("#müsteri_ekleme").show();
        });
    }

    function yeniSiparisOlustur() {

        $.getJSON("/customers/all", function(result){
            $.each(result, function(i, customer){
                $("#siparis_veren").append('<option id="siparis_veren_id" value="'+customer.id+'">'+customer.companyName+'</option');
            });
        });

        $.getJSON("/orders/orderType", function(result){
            $.each(result, function(i, orderType){
                $("#siparisCinsi").append('<option id="siparis_cinsi" value="'+orderType+'">'+orderType+'</option');
            });
        });

        $("#yeni_siparis").click(function () {
            $("#giris").hide();
            $("#siparis_listesi").hide();
            $("#siparis_formu").show();
            $("#müsteri_listeleme").hide();
            $("#müsteri_ekleme").hide();
        });

        $("#siparis_olustur").click(function () {
            $("#giris").hide();
            $("#siparis_listesi").hide();
            $("#siparis_formu").show();
            $("#müsteri_listeleme").hide();
            $("#müsteri_ekleme").hide();
        });
    }

    function siparislerClick() {
        $.getJSON("/orders/orderStatus", function(result){
            $.each(result, function(i, orderStatus){
                $("#modal-order-edit-status").append('<option id="siparis_durumu" value="'+orderStatus+'">'+orderStatus+'</option');
            });
        });
        $("#siparisler").click(function () {
            $("#giris").hide();
            $("#siparis_listesi").show();
            $("#siparis_formu").hide();
            $("#müsteri_listeleme").hide();
            $("#müsteri_ekleme").hide();
        });

    }

    function musterilerClick() {
        $("#müsteriler").click(function () {
            $("#giris").hide();
            $("#siparis_listesi").hide();
            $("#siparis_formu").hide();
            $("#müsteri_listeleme").show();
            $("#müsteri_ekleme").hide();
        });

    }

    $(document).ready(function () {

        $("#giris").show();
        $("#siparis_listesi").show();

        homeButtonClick();
        yeniMusteriEkleClick();
        yeniSiparisOlustur();
        siparislerClick();
        musterilerClick();
        getOrders();
        getCustomers();


    });

    function getOrders() {
        table = $('#dataTables-example').DataTable({
            responsive: true,
            ajax: {
                url: '/orders/all',
                dataSrc: ''
            },
            columns: [
                {data: 'id'},
                {data: 'customer.companyName'},
                {data: 'orderName'},
                {data: 'orderDate'},
                {data: 'deliveryDate'},
                {data: 'amount'},
                {data: 'price'},
                {data: 'paid'},
                {data: 'remainder'},
                {data: 'orderStatus'},
                {data: 'orderType'},
                {data: 'specificationsOrders'},
                {
                    render: function (data, type, row) {
                        return ' <a data-toggle="modal" href="#modal-order" alt="Göster" title="Göster" onclick="orderView(' + row["id"] + ')"> <i class="fa fa-eye "></i> </a>' + ' <a class="data-toggle" data-toggle="data-toggle"  > <i class="fa fa-trash-o" onclick="deleteOrder(' + row["id"] + ')"></i> </a>' + ' <a data-toggle="modal" href="#modal-order-edit" alt="Düzenle" title="Düzenle" onclick="orderEdit(' + row["id"] + ')"> <i class="fa fa-edit" ></i></a>';
                    }
                }
            ]
        });
    }

    function getCustomers() {
        table = $('#dataTables-Customer').DataTable({
            responsive: true,
            ajax: {
                url: '/customers/all',
                dataSrc: ''
            },
            columns: [
                {data: 'companyName'},
                {data: 'companyPhone'},
                {data: 'authorizedName'},
                {data: 'authorizedPhone'},
                {data: 'authorizedEMail'},
                {
                    render: function (data, type, row) {
                        return '<a class="data-toggle" data-toggle="data-toggle"> <i class="fa fa-trash-o" onclick="deleteCustomer(' + row["id"] + ')"></i></a>' + ' <a class="data-toggle" data-toggle="data-toggle"> <i class="fa fa-edit" ></i></a>';
                    }
                }
            ]
        });
    }


    function addOrder() {

        var order = {};
        var customer={};
        customer["id"] = $("#siparis_veren").val();
        order["customer"] =customer;
        order["orderName"] = $("#orderName").val();
        order["amount"] = $("#amount").val();
        order["specificationsOrders"] = $("#specificationsOrders").val();
        order["price"] = $("#price").val();
        order["paid"] = $("#paid").val();
        order["description"] = $("#description").val();
        order["orderType"]=$("#siparisCinsi").val();
        order["orderStatus"]="Beklemede";

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/orders/saveOrder",
            data: JSON.stringify(order),
            dataType: 'json',
            cache: false,
            timeout: 100000,
            success: function (data) {
                alert("SUCCESS : ", data);
                getOrders();
            },
            error: function (e) {
                alert("ERROR : ", e);
            }
        });
    }

    function addCustomer() {
        var customer = {};
        customer["companyName"] = $("#companyName").val();
        customer["companyPhone"] = $("#companyPhone").val();
        customer["companyAddress"] = $("#companyAddress").val();
        customer["authorizedName"] = $("#authorizedName").val();
        customer["authorizedPhone"] = $("#authorizedPhone").val();
        customer["authorizedEMail"] = $("#authorizedEMail").val();
        customer["password"] = $("#password").val();

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/customers/saveCustomer",
            data: JSON.stringify(customer),
            dataType: 'json',
            cache: false,
            timeout: 100000,
            success: function (data) {
                alert("SUCCESS : ", data);
                getCustomers();
            },
            error: function (e) {
                alert("ERROR : ", e);
            }
        });
    }

    function deleteOrder(url_id) {
        $.ajax({
            type: "DELETE",
            url: '/orders/deleteOrder/' + url_id,
            cache: false,
            timeout: 100000,
            success: function (data) {
                alert("SUCCESS : ", data);
                getOrders();
            },
            error: function (e) {
                alert("ERROR : ", e);
            }
        });

    }

    function deleteCustomer(url_id) {

        $.ajax({
            type: "DELETE",
            url: '/customers/deleteCustomer/' + url_id,
            cache: false,
            timeout: 100000,
            success: function (data) {
                alert('SUCCESS : ', data);
                getCustomers();
            },
            error: function (e) {
                alert('ERROR : orders and customer foreingkey');
            }
        });

    }

    function orderView(id) {
        $.ajax({
            type: "GET",
            url: "/orders/getOrder/" + id,
            success: function (result) {
                $("#modal-order-amount").text(result.amount);
                $("#modal-order-companyTel").text(result.customer.companyPhone);
                $("#modal-order-customer").text(result.customer.companyName);
                $("#modal-order-deliveryDate").text(result.deliveryDate);
                $("#modal-order-oderType").text(result.orderType);
                $("#modal-order-orderDate").text(result.orderDate);
                $("#modal-order-paid").text(result.paid);
                $("#modal-order-price").text(result.price);
                $("#modal-order-price1").text(result.price);
                $("#modal-order-specificationsOrders").text(result.specificationsOrders);
                $("#modal-order-orderName").text(result.orderName);

            }
        });
    }

    function orderEdit(id) {
        $.ajax({
            type: "GET",
            url: "/orders/getOrder/" + id,
            success: function (result) {
                $("#modal-order-edit-customer").val(result.customer.companyName);
                $("#modal-order-edit-deliveryDate").val(result.deliveryDate);
                $("#modal-order-edit-oderType").val(result.orderType);
                $("#modal-order-edit-paid").val(result.paid);
                $("#modal-order-edit-price").val(result.price);
                $("#modal-order-edit-status").select(result.oderStatus);
                $("#modal-order-edit-description").val(result.description);
            }
        });

    }


</script>


</body>

</html>
