<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Mareksan">
    <meta name="author" content="Nurullah Atay">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Mareksan Müşteri Paneli</title>

    <!-- Bootstrap core CSS
    <link href="../static/bootstrap/bootstrap.min.css" rel="stylesheet" th:href="@{/static/bootstrap/bootstrap.min.css}"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="../vendor/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <![endif]-->
</head>

<body>
<div class="container d-flex justify-content-center align-items-center">
    <div class="jumbotron mt-5" style="max-width:600px">

        <h3 class="text-center"> MAREKSAN MÜŞTERİ BİLGİ SİSTEMİNE HOŞ GELDİNİZ </h3>
        <h4 class="text-center" th:text="'TARİH:  ' + ${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"></h4>
        <div  th:if="${errorMessage == false}" class="alert alert-warning text-center font-weight-bold" role="alert">
            Lütfen Giriş Yapınız!
        </div>
        <hr>

        <div th:if="${errorMessage == true}" class="alert alert-danger text-center font-weight-bold" role="alert">
            Email yada şifre yanlış. Bilgilerinizi kontrol edip tekrar deneyin!
        </div>

        <form  id="loginCustomer" action="#"  th:action="@{/customer/customerLogin}" method="post" th:object="${customer}">
            <div class="form-group">
                <label for="exampleInputEmail1">Email Adresi:</label>
                <input  th:field="*{authorizedEMail}" type="email" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Adresinizi Girin">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Şifre : </label>
                <input th:field="*{password}" type="password" required class="form-control" id="exampleInputPassword1" placeholder="Şifrenizi Girin">
            </div>
            <button id="gonderButon" type="submit" class="btn btn-primary btn-lg btn-block">Giriş</button>
        </form>
    </div>
</div> <!-- /container -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../vendor/jquery/jquery.js"></script>

<script>
    $(document).ready(function () {

        $("#login").submit(function (e) {

            //disable the submit button
            $("#gonderButon").attr("disabled", true);
            $("#gonderButon").removeClass('btn btn-primary btn-lg btn-block').addClass('btn btn-success btn-lg btn-block');
            $("#gonderButon").html('Lütfen Bekleyiniz..');
            return true;

        });
    });
</script>
</body>
</html>